/**---------------------------------------------------------------------------
 * Acuity 960px (20px gutters) Grid Stylesheet
 *
 * A grid system used for the base design layout on the Acuity engine.
 *
 * Markup:        960.css
 * Project:       Acuity
 * Version:       0.1.0 05/28/2015
 * Description:   A sharp, crisp front-end boilerplate, by Darkstar.
 * Website:       http://github.com/iods/acuity
 *
 * Author:        Rye Miller
 * Style Guide:   v0.1 (see doc/STYLE.md)
 * Code Guide:    v0.1 (see doc/CODE.md)
 ---------------------------------------------------------------------------*/

/**
 * TABLE OF CONTENTS
 *
 * DESKTOP
 * Container............Default container wrapper.
 * Global...............Settings available across global grid scope.
 * Grid.................The column sizing of the grid system.
 * Offsets..............Grids pushed for enhanced views.
 *
 * DESKTOP (768)
 * Container............Default container wrapper.
 * Global...............Settings available across global grid scope.
 * Grid.................The column sizing of the grid system.
 * Offsets..............Grids pushed for enhanced views.
 *
 * MOBILE
 * Media................Settings to manage mobile display.
 * Container............Default container wrapper for mobile.
 * Global...............Settings used globally on each grid property.
 * Grid.................The column sizing of the grid system on mobile.
 * Offsets..............Offsets for extra space.
 *
 * TESTS
 */

/**----------------------------------------
 * DESKTOP - @Container
 * --------------------------------------*/

.container {
    margin: 0 auto;
    width: 960px;
}

/**----------------------------------------
 * DESKTOP - @Global
 * --------------------------------------*/

[class*=cols] {
    float: left;
    display: inline;
    margin: 0 10px;
}

.row:before,
.row:after {
    content: "";
    display: table;
    line-height: 0;
}

.row:after {
    clear: both;
}

/**----------------------------------------
 * DESKTOP - @Grid
 * --------------------------------------*/

.container .cols-1 {
    width: 60px;
}

.container .cols-2 {
    width: 140px;
}

.container .cols-3 {
    width: 220px;
}

.container .cols-4 {
    width: 300px;
}

.container .cols-5 {
    width: 380px;
}

.container .cols-6 {
    width: 460px;
}

.container .cols-7 {
    width: 540px;
}

.container .cols-8 {
    width: 620px;
}

.container .cols-9 {
    width: 700px;
}

.container .cols-10 {
     width: 780px;
 }

.container .cols-11 {
    width: 860px;
}

.container .cols-12 {
    width: 940px;
}

/**----------------------------------------
 * DESKTOP - @Offsets
 * --------------------------------------*/

.container .cols-off-1 {
    padding-left: 80px;
}

.container .cols-off-2 {
    padding-left: 160px;
}

.container .cols-off-3 {
    padding-left: 240px;
}

.container .cols-off-4 {
    padding-left: 320px;
}

.container .cols-off-5 {
    padding-left: 400px;
}

.container .cols-off-6 {
    padding-left: 480px;
}

.container .cols-off-7 {
    padding-left: 560px;
}

.container .cols-off-8 {
    padding-left: 640px;
}

.container .cols-off-9 {
    padding-left: 720px;
}

.container .cols-off-10 {
    padding-left: 800px;
}

.container .cols-off-11 {
    padding-left: 880px;
}

/**----------------------------------------
 * DESKTOP (768) - @Media
 * --------------------------------------*/

@media (min-width: 768px) and (max-width: 959px) {

/**----------------------------------------
 * DESKTOP (768) - @Container
 * --------------------------------------*/

    .container {
        margin: 0 auto;
        width: 768px;
    }

/**----------------------------------------
 * DESKTOP (768) - @Global
 * --------------------------------------*/

    [class*="cols-"] {
        float: left;
        display: inline;
        margin: 0 10px;
    }

    .row:before,
    .row:after {
        content: "";
        display: table;
        line-height: 0;
    }

    .row:after {
        clear: both;
    }

/**----------------------------------------
 * DESKTOP (768) - @Grid
 * --------------------------------------*/

    .container .cols-1 {
        width: 44px;
    }

    .container .cols-2 {
        width: 108px;
    }

    .container .cols-3 {
        width: 172px;
    }

    .container .cols-4 {
        width: 236px;
    }

    .container .cols-5 {
        width: 300px;
    }

    .container .cols-6 {
        width: 364px;
    }

    .container .cols-7 {
        width: 428px;
    }

    .container .cols-8 {
        width: 492px;
    }

    .container .cols-9 {
        width: 556px;
    }

    .container .cols-10 {
        width: 620px;
    }

    .container .cols-11 {
        width: 684px;
    }

    .container .cols-12 {
        width: 748px;
    }

/**----------------------------------------
 * DESKTOP (768) - @Offsets
 * --------------------------------------*/

    .container .cols-off-1 {
        padding-left: 64px;
    }

    .container .cols-off-2 {
        padding-left: 128px;
    }

    .container .cols-off-3 {
        padding-left: 192px;
    }

    .container .cols-off-4 {
        padding-left: 256px;
    }

    .container .cols-off-5 {
        padding-left: 320px;
    }

    .container .cols-off-6 {
        padding-left: 384px;
    }

    .container .cols-off-7 {
        padding-left: 448px;
    }

    .container .cols-off-8 {
        padding-left: 512px;
    }

    .container .cols-off-9 {
        padding-left: 576px;
    }

    .container .cols-off-10 {
        padding-left: 640px;
    }

    .container .cols-off-11 {
        padding-left: 704px;
    }

} /* End of (768px) Media Query */

/**----------------------------------------
 * MOBILE - @Media
 * --------------------------------------*/

@media only screen and (max-width: 767px) {

    body {
        padding: 0 20px;
    }

/**----------------------------------------
 * MOBILE - @Container
 * --------------------------------------*/

    .container {
        width: auto;
    }

/**----------------------------------------
 * MOBILE - @Global
 * --------------------------------------*/

    [class*="cols-"] {
        display: block;
        margin: 0;
    }

/**----------------------------------------
 * MOBILE - @Grid
 * --------------------------------------*/

    .container .cols-1,
    .container .cols-2,
    .container .cols-3,
    .container .cols-4,
    .container .cols-5,
    .container .cols-6,
    .container .cols-7,
    .container .cols-8,
    .container .cols-9,
    .container .cols-10,
    .container .cols-11,
    .container .cols-12 {
        width: 100%;
    }

/**----------------------------------------
 * MOBILE - @Grid
 * --------------------------------------*/

    .container .cols-off-1,
    .container .cols-off-2,
    .container .cols-off-3,
    .container .cols-off-4,
    .container .cols-off-5,
    .container .cols-off-6,
    .container .cols-off-7,
    .container .cols-off-8,
    .container .cols-off-9,
    .container .cols-off-10,
    .container .cols-off-11,
    .container .cols-off-12 {
        padding-left: 0;
    }

} /* End of Media Query */