/**---------------------------------------------------------------------------
 * Acuity Imports and App Setup Stylesheet
 *
 * Includes the Acuity styles independently for ease of administration.
 *
 * Markup:        acuity.css
 * Project:       Acuity
 * Version:       0.1.0 05/28/2015
 * Description:   A sharp, crisp front-end boilerplate, by Darkstar.
 * Website:       http://github.com/iods/acuity
 *
 * Author:        Rye Miller
 * Style Guide:   v0.1 (see doc/STYLE.md)
 * Code Guide:    v0.1 (see doc/CODE.md)
 ---------------------------------------------------------------------------*/

/**
 * TABLE OF CONTENTS
 *
 * ACUITY
 * Base.................The core styles of Acuity including resets.
 * Grid.................The Acuity grid layout including multiple widths.
 * UI...................User Interface styles including colors, inputs, etc.
 *
 * TESTS
 */

/*-----------------------------------------
 * ACUITY - @Base
 *---------------------------------------*/

@import 'content/reset.css';
@import 'content/base.css';
@import 'content/typography.css';

/*-----------------------------------------
 * ACUITY - @Grid
 *---------------------------------------*/

@import 'component/960.css';

/*-----------------------------------------
 * ACUITY - @UI
 *---------------------------------------*/

@import 'content/colors.css';

/**
 * By creating a few classes to build out the length in full of each
 * column, we can display the power of the grid system.
 */

.size-1 {
    width: 60px;
}

.size-2 {
    width: 140px;
}

.size-3 {
    width: 220px;
}

.size-4 {
    width: 300px;
}

.size-5 {
    width: 380px;
}

.size-6 {
    width: 460px;
}

.size-7 {
    width: 540px;
}

.size-8 {
    width: 620px;
}

.size-9 {
    width: 700px;
}

.size-10 {
    width: 780px;
}

.size-11 {
    width: 860px;
}

.size-12 {
    width: 940px;
}

.grid-display {
    margin-bottom: 20px;
    height: 50px;
    background: #81C784;
}

code {
    margin-left: 20px;
}

.palette {
    height: 80px;
    min-height: 80px;
    margin-bottom: 10px;
    min-width: 20px;
    border: 1px transparent;
    border-radius: 5px;
}

.palette p {
    padding: 18px 0 30px;
    margin-left: 18px;
    font-weight: 600;
    font-size: 0.78em;
}

.palette-dark {
    color: #616161;
}

.palette-light {
    color: #FFFFFF;
}