/**---------------------------------------------------------------------------
 * Acuity Base Typography Stylesheet
 *
 * The default typography settings and styles for Acuity.
 *
 * Markup:        typography.css
 * Project:       Acuity
 * Version:       0.1.0 05/28/2015
 * Description:   A sharp, crisp front-end boilerplate, by Darkstar.
 * Website:       http://github.com/iods/acuity
 *
 * Author:        Rye Miller
 * Style Guide:   v0.1 (see doc/STYLE.md)
 * Code Guide:    v0.1 (see doc/CODE.md)
 ---------------------------------------------------------------------------*/

/**
 * The following pattern is used by default for the Acuity package:
 *
 * Body Copy:	16px/1.563 Open Sans, arial, sans-serif;
 *
 * Notes: I am decreasing heading sizes by 0.6em with every subsequent
 * level, except for heading h6 which is set 0.2em lower.
 */

/**
 * TABLE OF CONTENTS
 *
 * GLOBAL
 * Body.................Default settings for Typography.
 * Font Stacks..........The font stacks for the document.
 * Headers & Subtext....Defines the styles for the document headings.
 * Paragraphs...........Paragraphs and lead copy styles.
 * Alignment............Left, center, and right alignment of text.
 * Inline Elements......Text-level semantics.
 * Collections..........Lists items including ordered and unordered, definition lists, etc.
 * Block Elements.......Address, blockquotes, and block-level elements.
 * Code & Pre...........Code blocks and pre-formatted text properties.
 * <hr> Alternates......Different styles for horizontal rules.
 *
 * TESTS
 */

/**----------------------------------------
 * GLOBAL - @Body
 * --------------------------------------*/

body {
    font-family: 'Open Sans', arial, sans-serif;
    line-height: 1.563;
}

/**----------------------------------------
 * GLOBAL - @Headers
 * --------------------------------------*/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: inherit;
    margin: 10px 0 20px;
}

h1,
.h1 {
    font-size: 42px;
    font-weight: 600;
    /* fallback: line-height: 59px; */
    line-height: 1.405;
}

h2,
.h2 {
    font-size: 36px;
    font-weight: 600;
    /* fallback: line-height: 51px */
    line-height: 1.417;
}

h3,
.h3 {
    font-size: 27px;
    font-style: italic;
    font-weight: 600;
    /* fallback: line-height: 39px */
    line-height: 1.444;
}

h4,
.h4 {
    font-size: 24px;
    font-weight: 600;
    /* fallback: line-height:  35px; */
    line-height: 1.458;
}

h5,
.h5 {
    font-size: 18px;
    font-weight: 300;
    /* fallback: line-height: 27px */
    line-height: 1.500;
}

h6,
.h6 {
    font-size: 14px;
    font-weight: 800;
    /* fallback: line-height: 22px */
    line-height: 1.571;
    text-transform: uppercase;
}

h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small {
    color: #727272;
    font-size: 0.6em;
    line-height: 0;
}

.heading {
    background: #9E9E9E;
    border-bottom: 1px solid #B6B6B6;
    color: #FFF;
    margin: 0;
    min-height: 30px;
    padding: 10px;
    text-align: center;
}

.heading h1,
.heading h2, {
    margin: 0;
}

.title {
    margin-bottom: 20px;
}

/**----------------------------------------
 * GLOBAL - @Paragraphs
 * --------------------------------------*/

p {
    margin-bottom: 15px;
}

.lead {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.46428571;
    margin-bottom: 20px;
}

small,
.small {
    font-size: 83%;
    line-height: 2.067;
}

@media (min-width: 768px) {
    .lead {
        font-size: 30px;
    }
}

/**----------------------------------------
 * GLOBAL - @Emphasis
 * --------------------------------------*/

em,
i,
q {
    font-style: italic;
}

b,
strong {
    font-weight: 700;
}

/**----------------------------------------
 * GLOBAL - @Alignments
 * --------------------------------------*/

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/**----------------------------------------
 * GLOBAL - @Blockquotes
 * --------------------------------------*/

blockquote {
    border-left: 3px solid #b6b6b6;
    padding: 0 0 0 16px;
    margin: 0 0 30px;
}

blockquote p {
    font-size: 20px;
    line-height: 1.55;
    margin-bottom: 5px;
}

blockquote small {
    font-size: 18px;
    line-height: 1.72222;
    font-style: italic;
}

blockquote small:before {
    content: "";
}

blockquote.text-right {
    padding-right: 16px;
    padding-left: 0;
    border-right: 3px solid #B6B6B6;
    border-left: 0;
}

blockquote.text-right small:after {
    content: "";
}

/**----------------------------------------
 * GLOBAL - @Inline Elements
 * --------------------------------------*/

abbr[title],
abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #727272;
}

address {
    margin-bottom: 30px;
    line-height: 1.563;
}

cite {
    font-style: italic;
}

code,
kdb,
pre,
samp,
var {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

code {
    background-color: #F5F5F5;
    border-radius: 4px;
    color: #D32F2F;
    font-size: 90%;
    padding: 4px;
    white-space: pre-wrap;
}

kbd {
    padding: 4px;
    font-size: 90%;
    color: #FFF;
    background-color: #2D2D2D;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .50);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .50);
}

pre {
    display: block;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    background-color: #F5F5F5;
    color: #616161;
    padding: 10px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
}

.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}

dfn {
    font-style: italic;
}

mark {
    color: #212121;
    background: #FFEB3B;
    padding: 0 4px;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

var {
    font-style: italic;
}

/**----------------------------------------
 * GLOBAL - @<hr> Alternates
 * --------------------------------------*/

hr {
    border: 1px solid #9E9E9E;
    clear: both;
    margin: 20px 0;
    height: 0;
}

hr.thin {
    border: 0;
    border-top: 1px solid #9E9E9E;
}

hr.thick {
    border: 0;
    border-top: 3px solid #9E9E9E;
}